$header:         #fff7eb;
$text-default:   #0F0F0F;

$defaultIndex:   1;
$mobileNavIndex: 2;
$headerIndex:    3;
$modalIndex:     4;

$containerWidth: 1300px;
$small-desktop:  1024px;
$tablet:         768px;
$miniTablet:     600px;
$mobile:         480px;


//Высоты header для fullscreen
$hhDesktop:      64px;